.bg-container {
    background-image: url("../images/bg-tablet-pattern.svg"),
    url("../images/bg-tablet-pattern.svg");

  background-repeat: no-repeat, no-repeat;
  background-size: 500px 500px, 400px 400px;
  background-position: top -134px right -149px, top 461px right -275px;

  @media (min-width: 800px) {
    background-size: 800px 800px, 600px 600px;
    background-position: top -200px right -200px, top 1200px left -300px;
  }
}

.container {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1440px;
    padding-right: 0.625rem;
    padding-left:  0.625rem; 
}

.header-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 0 3rem 0;
}

.logo {
    margin-top: 2.3rem;
    margin-left: 0.4rem
}

.mobile-nav-button {
    list-style: none;
    margin-top: 2rem;
    margin-right: 0.4rem;
}

.hero {
    @include fluid-type(width, 318px, 1200px, 311px, 740px);
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem 6.5rem 1rem;
    margin-bottom: -0.25rem;
}

h1 {
    @include fluid-type(font-size, 318px, 1200px, 40px, 49px);
    line-height: 1.24;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.text-paragraph {
    @include fluid-type(font-size, 318px, 1200px, 14.3833px, 19.0833px);
    color: #bbbbbb;
    line-height: 1.75rem;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}

.headline-text {
    margin-bottom: 1.8rem;
}

.button {
    font-size: 0.75rem;
    font-weight: 700;
    cursor: pointer;
    color: #dfdfdf;
    padding: 1rem 2.2rem;
    border-radius: 5rem;
    border-style: none;
    background-color: $brightRed;
    box-shadow: 0px 22px 15px -19px #ff2b00;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 0;
}

.main-content h2 {
    @include fluid-type(font-size, 318px, 1200px, 29.6px, 39.6px);
}

.main-text-h2 {
    margin-bottom: 3.7rem;
}

.main-content-list h3 {
    
    margin: 0 0.5rem 0.7rem 0.5rem;
    padding: 0.5rem 1.0625rem 0.6875rem 1.0625rem;
    width: 100%;
    @include fluid-type(font-size, 318px, 1200px, 13.9167px, 20.4px);
    line-height: 1.4;
    text-align: justify;
}

.main-content-h3-numbers {
    background-color: $brightRed;
    color: #ffffff;
    border-radius: 5rem;
    padding: 0.5625rem 1.625rem;
    margin-left: -0.5rem;
}

.main-text-h3 {
    @include fluid-type(font-size, 318px, 1200px, 13.9167px, 16.0833px);
    text-align: left;
}

.reviews {
    text-align: center;
    overflow: hidden;
}

.reviews h2 {
    @include fluid-type(font-size, 318px, 1200px, 33.6px, 40.6px);
    font-weight: 700;
    margin: 1rem 0 3.8rem 0;
}

.slider {
    display: flex;
    width: 400%;
    padding-top: 1.1rem;
    position: relative;
    left: 0;
    animation: 25s slide linear infinite;
}

.slider-img {
    background-color: #fafafa;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.06);
    padding: 2.25rem;
    width: 25%;
}

.slider-img img {
    margin-top: -7rem;
    width: 4.7rem;
}

// .reviews-img {
//     padding: 0;
// }

.reviews-name {
    font-weight: 700;
}

.reviews-text {
    margin: 0 0rem 0rem 0rem;
}

.reviews-button {
    margin-bottom: 2.4rem;
    margin-top: 2.2rem;
}

@keyframes slide {
	0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
}

.call-to-action {
    
    align-items: center;
    margin-bottom: 0;
    color: #ffffff;
    background-color: $brightRed;
}

.call-to-action-text {
    color: #f0f0f0;
    font-size: 2.55rem;
    font-weight: 700;
    line-height: 1.23;
}

.button-white {
    font-weight: 700;
    cursor: pointer;
    padding: 1rem 2.2rem;
    border-radius: 5rem;
    border-style: none;
    background-color: #ffffff;
    color: $brightRed;
}

footer {
    margin-bottom: 0;
    background-color: $veryDarkBlue;
}

.input-container {
    margin-top: 3.1rem;
    margin-bottom: 2.4rem;
    padding: 0;
}

.input {
    color: #bbbbbb;
    font-size: 0.8rem;
    padding: 0.8rem 3.8rem 0.8rem 1.4rem;
    border-radius: 5rem;
    border-style: none;
    max-width: 60vw;
}

.input-button {
    font-size: 0.8rem;
    padding: 0.8rem 1.7rem 0.8rem 1.7rem;
    margin-left: 0.3rem;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    line-height: 2.2;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #9d9d9d;
}

.footer-nav-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.footer-nav-right {
    text-align: left;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    background-color: $veryDarkBlue;
    background-size: 1rem 1rem;
}

.footer-text {
    font-size: 0.8rem;
    color: #797979;
}