//Colors
$brightRed: hsl(12, 88%, 59%);
$darkBlue: hsl(228, 39%, 23%);
$grayishBlue: hsl(227, 12%, 61%);
$veryDarkBlue: hsl(233, 12%, 13%);
$paleRed: hsl(12, 92%, 72%);
$lightGray: hsl(0, 0%, 98%);
$textLightRed: hsl(2, 91%, 83%);
$socialBtnHover: hsl(11, 94%, 60%);